<div class="bounds">

    <div class="content" fxLayout="column" js fxLayout.xs="column" fxFlexFill>

        <div fxFlex="15" class="sec1" fxFlex.xs="55">
            <app-header></app-header>
        </div>
        <div fxFlex="30" fxLayout="row" fxFlexFill class="sec2">
            <user-list (onUserDelete)="deleteUser($event)" (updateUser)="updateUser($event)" [users]="filteredUserData">
            </user-list>

            <progress-status class="progress" [totalMale]="totalMale" [totalFemale]="totalFemale"></progress-status>
        </div>

    </div>

</div>