.form-field{
    display: block;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }

  .submit-button{
      width: 150px;
      float: right
  }